@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --light;
}

@plugin "daisyui/theme" {
  name: "Light";
  default: true;
  prefersdark: false;
  color-scheme: light; 

  --color-base-100: #FFFFFF;
  --color-base-200: #F2F2F2;
  --color-base-300: #F2F2F2;
  --color-primary-content: #494949;
  --color-base-content: #181818;
  --color-primary: #d6d6d6;
  --color-secondary: #F2F2F2;

}

@plugin "daisyui/theme" {
  name: "Dark";
  default: false; 
  prefersdark: true; 
  color-scheme: dark; 

  --color-base-100: #424242;
  --color-base-200: #181818;
  --color-base-300: #6E6E6E;
  --color-primary-content: #494949;
  --color-base-content: #FFFFFF;
  --color-primary: #6E6E6E;
  --color-secondary: #000000;
  
}
